/*Estilos menu movil*/

.navbar__mobile-btn{
    display: none;
}

.navbar__mobile-list{
    display: none;
}

/*Cuando se reduzca el tamaño*/
@media (max-width: 1024px){
  

    /**********************************************************************************************/
    /*ESTILOS LAYOUT (responsive)*/
    /**********************************************************************************************/
    .layout{
        width: 70%;
        min-width: 74rem;
        margin: 0 auto;
        /*Modificamos la estructura del grid*/
        display: grid;
        grid-template-areas:
            "header header"
            "nav nav"
            "marquee marquee"
            "slider slider"
            "high high"
            "videos videos"
            "carousel carousel"
            "main main"
            "aside aside"
        ;
    }





    /**********************************************************************************************/
    /*CABECERA*/
    /**********************************************************************************************/
    
    .layout__header{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    /**********************************************************************************************/
    /*ESTILOS DEL MENU MOVIL*/
    /**********************************************************************************************/
  
    /*Ocultamos el menu de PC*/
    .navbar__list{
        display: none;
    }

    /*Damos estilo al botón (la forma la hemos reutilizado en styles.css con los estilos del search*/
    
    .navbar__mobile-btn{
        display: flex;
    }

    /*Contenedor del menu*/
    .navbar__mobile-list{
        display: none;
        width: 100%;
        padding: 1.5rem;
        position: absolute;
        top: 98%;
        background-color: var(--color-bgNavbar);
        z-index: 99;
    }

    /*Contenedor de cada elemento de la lista*/
    .mobile-list__item{
        width: 100%;
        padding: 0.5rem 2rem;
        border-bottom: 1px solid var(--color-border-list);
    }

    /*Contenedor de un elemento que tiene submenu*/
    .mobile-list__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*Texto de la opción del menu*/
    .mobile-list__link{
        display: block;
        width: 85%;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 3rem;
        text-transform: uppercase;
        color: var(--color-rincipal);
    }

    /*Icono del desplegable del submenu*/
    .mobile-list__icon{
        cursor: pointer;
    }

    .mobile-list__icon .fa-solid{
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--color-secondary);
    }

    
    /**********************************************************************************************/
    /*ESTILOS SUBMENU MOVIL*/
    /**********************************************************************************************/

    /*Contenedor del submenu*/
    .mobile-list__msubmenu{
        display: none;        
    }

    /*Elemento del submenu*/
    .msubmenu__item{
        padding-left: 4rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    /*Texto del submenu*/
    .msubmenu__link{
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 3rem;
        text-transform: uppercase;
    }



    /**********************************************************************************************/
    /*ESTILOS SLIDER (responsive)*/
    /**********************************************************************************************/

    
    .layout__slider{
        grid-area: slider;

        width: 100%;
        margin-bottom: var(--separacion-secciones);

        display: grid;
        grid-template-areas:"slider1 slider3 slider3 slider3"
                            "slider2 slider3 slider3 slider3"
                            "slider4 slider4 slider5 slider5";
        row-gap: 0.3rem;
        column-gap: 0.3rem;
    }

    .slider__container--slider5{
        width: 100%;
        height: 23.6rem;
    }
    
    .slider__container--slider3{
        width: 100%;
        height: 33.8rem;
    }


    /**********************************************************************************************/
    /*ESTILOS MEJORES MOMENTOS (highlights responsive)*/
    /**********************************************************************************************/

    .highlights__posts{
        flex-wrap: wrap;
    }

    .highlights__post{
        width: calc(50% - 1.5rem);
    }

    /**********************************************************************************************/
    /*ESTILOS VIDEOS (responsive)*/
    /**********************************************************************************************/
    
    .videos__container{
        flex-direction: column;
        gap: 0;
    }

    .videos__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
    }

    .videos__video{
        width: calc(50% - 1rem);
    }

    
    /**********************************************************************************************/
    /*ESTILOS CARRUSEL JUEGOS (responsive)*/
    /**********************************************************************************************/

    .carousel-games__item--hidden{
        display: none;
    }

    .carousel-games__item{
        width: 100%;
    }

    /**********************************************************************************************/
    /*Correccion del layout main*/
    /**********************************************************************************************/
    .layout__main{
        margin-right: 0;
    }

    /**********************************************************************************************/
    /*ESTILOS ASIDE (responsive)*/
    /**********************************************************************************************/


    .layout__aside{
        margin-bottom: var(--separacion-secciones);
    }

    /**********************************************************************************************/
    /*ESTILOS FOOTER (responsive)*/
    /**********************************************************************************************/

    .footer__container{
        width: 70%;
        min-width: 70rem;
        flex-direction: column;
    }

    .footer__left-container,
    .footer__center-container,
    .footer__right-container{
        width: 100%;
    }


    .footer__slider{
        width: auto;
        height: auto;
    }

    .footer__text{
        text-align: center;
        margin: 0 auto;
    }
    
}

@media (max-width:800px){
    
    /**********************************************************************************************/
    /*ESTILOS LAYOUT (responsive 2)*/
    /**********************************************************************************************/
    
    .layout{
        width: 57%;
        min-width: 57rem;
        margin: 0 auto;
    }

    /**********************************************************************************************/
    /*ESTILOS SLIDER (responsive2)*/
    /**********************************************************************************************/
    
    .layout__slider{
        grid-area: slider;

        width: 100%;
        margin-bottom: var(--separacion-secciones);

        display: grid;
        grid-template-areas:"slider1 slider3 slider3 slider3"
                            "slider2 slider3 slider3 slider3"
                            "slider4 slider4 slider5 slider5";
        row-gap: 0.3rem;
        column-gap: 0.3rem;
    }

    .slider__container--slider5{
        width: 100%;
        height: 19.25rem;
    }
    
    .slider__container--slider3{
        width: 100%;
        height: 25rem;
    }


    /**********************************************************************************************/
    /*ESTILOS FOOTER (responsive)*/
    /**********************************************************************************************/    
    
    .footer__container{
        width: 52%;
        min-width: 52rem;
        flex-direction: column;
    }

}


@media (max-width:630px){

    /**********************************************************************************************/
    /*ESTILOS LAYOUT (responsive 2)*/
    /**********************************************************************************************/

    .layout{
        width: 35%;
        min-width: 35rem;
        margin: 0 auto;
    }


    /**********************************************************************************************/
    /*ESTILOS SLIDER (responsive3)*/
    /**********************************************************************************************/

    .layout__slider{
        grid-area: slider;

        width: 100%;
        margin-bottom: var(--separacion-secciones);

        display: grid;
        grid-template-areas:"slider1 slider1 slider1 slider1"
                            "slider2 slider2 slider2 slider2"
                            "slider3 slider3 slider3 slider3"
                            "slider4 slider4 slider4 slider4"
        ;
        column-gap: 0;
        grid-template: 100%;
    }

    
    .slider__container--slider1{
        width: 100%;
        height: auto;
    }
    .slider__container--slider2{
        width: 100%;
        height: auto;
    }
    .slider__container--slider3{
        width: 100%;
        height: auto;
    }
    .slider__container--slider4{
        width: 100%;
        height: auto;
    }
    
    .slider__container--slider5{
        display: none;
    }

    /**********************************************************************************************/
    /*ESTILOS MEJORES MOMENTOS (highlights responsive3)*/
    /**********************************************************************************************/

    .highlights__posts{
        flex-direction: row;
    }

    .highlights__post{
        width: 100%;
    }


    /**********************************************************************************************/
    /*ESTILOS VIDEOS (responsive3)*/
    /**********************************************************************************************/

    .main-video__yt-video{
        height: 20rem;
    }

    .videos__list{
        flex-direction: column;
    }

    .videos__video{
        width: 100%;
    }


    /**********************************************************************************************/
    /*ESTILOS CARRUSEL JUEGOS (responsive3)*/
    /**********************************************************************************************/

    .carousel-games__item--hidden-smaller{
        display: none;
    }

    .carousel-games__item{
        width: 100%;
    }


    /**********************************************************************************************/
    /*ESTILOS NOTICIAS (responsive3)*/
    /**********************************************************************************************/

    .news__main-post{
        flex-direction: column;
    }

    .news__list{
        flex-direction: column;
    }


    /**********************************************************************************************/
    /*ESTILOS JUEGOS (responsive3)*/
    /**********************************************************************************************/

    .games__container{
        flex-direction: column;
    }

    .games__game{
        width: 100%;
    }


    /**********************************************************************************************/
    /*ESTILOS ULTIMOS ARTICULOS (responsive3)*/
    /**********************************************************************************************/

    .posts__container{
        flex-direction: column;
    }

    .posts__post{
        flex-basis: 100%;
    }

    .post__img{
        width: 100%;
    }


    /**********************************************************************************************/
    /*ESTILOS FOOTER (responsive3)*/
    /**********************************************************************************************/

    .footer__container{
        width: 30%;
        min-width: 30rem;
    }

    .footer__text{
        width: 100%;
    }


}


@media(max-width:350px){
    
    .layout{
        width: 100%;
        min-width: auto;
        margin: 0;
    }
    .footer__container{
        width: 100%;
        min-width: auto;
        margin: 0;
    }
}