
/* VARIABLES */

:root{
    --color-principal: #FFFFFF;
    --color-secondary: #329153;
    --color-bgNavbar: #333946;
}


/* ESTILOS GENERALES */

html{
    font-size: 10px;
}


body{
    width: 100%;
    height: 100%;
    font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-principal);
}


/* BARRA DECORATIVA SUPERIOR */

.decoration-bar{
    width: 100%;
    min-height: 25px;
    background-color: var(--color-secondary);
}


/*ESTRUCTURA DEL LAYOUT*/

.layout{
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "marquee marquee"
        "slider slider"
        "high high"
        "videos videos"
        "carousel carousel"
        "main aside"    
    ;
    grid-template-columns: 70% 30%;
    width: 55vw;
    min-width: 100rem;
    margin: 0 auto;
}



/* ESTILOS DE CABECERA (header) */

/*Aqui prácticamente solo se encuentra el logo*/

.layout__header{
    grid-area: header;

    width: 100%;
    min-width: 100%;
    padding: 2rem 0;
}

/*Para que el enlace no ocupe todo el layout header y solo ocupe la imagen.*/
.header__link{
    display: inline-block;
}

.header__img{
    width: 17rem;
}


/* ESTILOS DE LA NAVEGACION (nav)*/

.layout__nav{
    grid-area: nav;

    position: relative;
    width: 100%;
}

.nav__navbar{
    /*Queremos los elementos distribuidos horizontalmente (en fila)
    y con separacion entre ellos como un menu*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: relative;

    /*Tamaños*/
    min-height: 5rem;
    max-height: 5rem;
    width: 100%;

    background-color: var(--color-bgNavbar);
    color: var(--color-principal);

}

/*La ul de navbar*/
.navbar__list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Los li de la navbar*/
.navbar__item{
    height: 5rem;
}

.navbar__item:hover{
    background-color: var(--color-secondary);
}

/*los a de la navbar con su texto*/
.navbar__link{
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1.5rem 1.5rem;
    color: var(--color-principal);
}

.navbar__search{
    display: flex;
    height: 100%;
}

.search__input{
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
    background-color: var(--color-secondary);
    color: var(--color-principal);
    outline: none;
    border: none;
    transition: all 200ms ease-out;
    
    display: none; /*Queremos que esté oculto hasta que se pulse en la lupa*/
}

.search__input::placeholder{
    padding: 0.5rem;
    color: var(--color-principal);
    opacity: 1;
}


.navbar__btn-search{
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0.8rem 1.3rem;
    background-color: var(--color-secondary);
}

.navbar__btn-search .fa-solid{
    cursor: pointer;
    color: var(--color-principal);
    font-size: 2.5rem;
}

.navbar__submenu{
    display: none;
}


/* ESTILOS DE LA MARQUESINA*/

.layout__marquee{
    grid-area: marquee;
}


/* ESTILOS SLIDER */

.layout__slider{
    grid-area: slider;
}


/*ESTILOS MEJORES MOMENTOS (highlights)*/

.layout__highlights{
    grid-area: high;
}


/*ESTILOS VIDEOS*/

.layout__videos{
    grid-area: videos;
}


/*ESTILOS CARRUSEL (carousel)*/

.layout__carousel-games{
    grid-area: carousel;
}


/*ESTILOS CONTENIDO PRINCIPAL (main)*/

.layout__main{
    grid-area: main;
}


/*ESTILOS MENU LATERAL (aside)*/

.layout__aside{
    grid-area: aside;
}