
/* VARIABLES */

:root{
    --color-principal: #FFFFFF;
    --color-secondary: #329153;
    --color-titles: #333333;
    --color-bgNavbar: #333946;
    --color-border-list: rgba(255, 255, 255, 0.3);
    --color-hover-sublist-item:rgba(0, 0, 0, 0.05);
    --color-shadow: rgba(0, 0, 0, 0.10);

    --color-bgMarquee: #EEEEEE;
    --color-textMarquee: #7C7C7C;

    --color-bgAside: #F5F5F5;
    --separacion-secciones: 3rem;

    --color-twitter: #2FC2EF;
    --color-facebook: #4C66A5;
    --color-youtube: #CB171E;
    --color-instagram: #EA4C89;
    --color-linkedin: #F3A62B;

    --color-footer: #222222;
    --color-footer-down: #111111;
}

/*********************************************************************************************/
/* ESTILOS GENERALES */
/*********************************************************************************************/

html{
    font-size: 10px;
}


body{
    width: 100%;
    height: 100%;
    font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-principal);
}


/*********************************************************************************************/
/*ESTILOS SUBHEADERS - Son comunes*/
/*********************************************************************************************/
.news__subheader,
.post__subheader, 
.games__subheader,
.login__subheader,
.recent__subheader, 
.videos__subheader,
.highlights__subheader,
.last-reviews__subheader{
    width: 100%;
    height: 3.5rem;
    margin-bottom: 3rem;
    background-color: var(--color-bgNavbar);
    padding: 0.5rem;
}

.subheader__title,
.news__title,
.list-header__title,
.last-reviews__link-title{
    display: inline;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: var(--color-secondary);
    color: var(--color-principal);
}

/*********************************************************************************************/
/*ESTILOS NOTAS*/
/*********************************************************************************************/

.container-rating__circle,  /*Circulo de la nota en el submenu*/
.rating__circle             /*Circulo de la nota en el slider y el carrusel de articulos*/
{
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    border-radius: 3.2rem;
    background-color: var(--color-secondary);
}

.container-rating__border,  /*Borde del circulo en el Submenu*/
.rating__border,            /*Borde del circulo en el Slider*/
.circle__border             /*Borde del círculo en el carrusel de articulos*/
{            
    width: 100%;
    height: 100%;
    border-radius: 3.2rem;
    border: 2px solid var(--color-principal);
    
    /*Para centrar la nota que esta dentro del borde*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*La nota, el numero en si*/
.container-rating__mark,    /*Nota en el submenu*/
.rating__mark,              /*Nota en el slider*/
.circle__mark               /*Nota en el carrusel de articulos*/
{
    font-weight: 700;
    color: var(--color-principal);
}


/*********************************************************************************************/
/* BARRA DECORATIVA SUPERIOR */
/*********************************************************************************************/

.decoration-bar{
    width: 100%;
    min-height: 25px;
    background-color: var(--color-secondary);
}

/*********************************************************************************************/
/*ESTRUCTURA DEL LAYOUT*/
/*********************************************************************************************/
.layout{
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "marquee marquee"
        "slider slider"
        "high high"
        "videos videos"
        "carousel carousel"
        "main aside"    
    ;
    grid-template-columns: 70% 30%;
    width: 55vw;
    min-width: 100rem;
    margin: 0 auto;
}


/*********************************************************************************************/
/* ESTILOS DE CABECERA (header) */
/*********************************************************************************************/

/*Aqui prácticamente solo se encuentra el logo*/

.layout__header{
    grid-area: header;

    width: 100%;
    min-width: 100%;
    padding: 2rem 0;
}

/*Para que el enlace no ocupe todo el layout header y solo ocupe la imagen.*/
.header__link{
    display: inline-block;
}

.header__img{
    width: 17rem;
}

/*********************************************************************************************/
/* ESTILOS DE LA NAVEGACION (nav)*/
/*********************************************************************************************/
.layout__nav{
    grid-area: nav;

    position: relative;
    width: 100%;
}

.nav__navbar{
    /*Queremos los elementos distribuidos horizontalmente (en fila)
    y con separacion entre ellos como un menu*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: relative;

    /*Tamaños*/
    min-height: 5rem;
    max-height: 5rem;
    width: 100%;

    background-color: var(--color-bgNavbar);
    color: var(--color-principal);

}

/*La ul de navbar*/
.navbar__list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Los li de la navbar*/
.navbar__item{
    height: 5rem;
}

.navbar__item:hover{
    background-color: var(--color-secondary);
}

/*los a de la navbar con su texto*/
.navbar__link{
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1.5rem 1.5rem;
    color: var(--color-principal);
}

/*Contenedor de la seccion de busqueda de la navbar*/
.navbar__search{
    display: flex;
    height: 100%;
}

/*Input de texto de para busqueda en la navbar*/
.search__input{
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
    background-color: var(--color-secondary);
    color: var(--color-principal);
    outline: none;
    border: none;
    transition: all 200ms ease-out;
    
    display: none; /*Queremos que esté oculto hasta que se pulse en la lupa*/
}

.search__input::placeholder{
    padding: 0.5rem;
    color: var(--color-principal);
    opacity: 1;
}

/*Boton Lupa de la Navbar*/

.navbar__btn-search{
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0.8rem 1.3rem;
    background-color: var(--color-secondary);
}

.navbar__btn-search .fa-solid{
    cursor: pointer;
    color: var(--color-principal);
    font-size: 2.5rem;
}


/*********************************************************************************************/
/*ESTILOS SUBMENUS NAVBAR (los desplegables)*/
/*********************************************************************************************/
.navbar__submenu{
    opacity:0;
    visibility: hidden;
    z-index:9;
    overflow: hidden;
    
    /*Posicionamos los submenus justo debajo de la barra*/
    position: absolute;
    top: 100%;

    left: 0;
    width: 100%;
    background-color: var(--color-secondary);

    display: flex;
    flex-direction: row;
}

.navbar__item:hover .navbar__submenu{
    opacity:1;
    visibility: visible;
    transition: all 300ms ease-in-out;
}

.navbar__item:hover .submenu__carousel{
    display: block;
}


/*El submenu de categoria queremos que este centrado en categoria y no ocupe toda la pantalla*/
.navbar__submenu--small{
    left: auto;
    width: 20%;

    /*Como la lista no tiene el 100% de ancho no se nos ve el submenu. Lo corregimos asi*/
    overflow: visible;
}

.navbar__submenu--small .navbar__sublist{
    width: 100%;
}


/*********************************************************************************************/
/*Estilos de las Sublistas (cada elemento desplegable de navbar*/
.navbar__sublist{
    display: inline-block;
    padding: 1rem;
    width: 25%;
}

.sublist__item{
    position: relative;
    padding: 0.1rem 0;
    border-bottom: 1px solid var(--color-border-list);
}

.sublist__item:last-child{
    border: none;
}

.sublist__item:hover{
    position: relative;
    padding: 0.1rem 0;
    background-color: var(--color-hover-sublist-item);
}

.sublist__link{
    color: var(--color-principal);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    white-space: nowrap;
}

/*********************************************************************************************/
/*Estilos Dropdown*/
/*Son los submenus dentro de otro submenu de alguna opción de la Navbar*/
/*Ejemplo: Serian las opciones Cine y Tecnología, dentro de otros dentro de noticias.*/
/*********************************************************************************************/

/*Les damos tamaño, posicion, color y sombra a la caja y lo ocultamos*/
.sublist__dropdown{
    position: absolute;
    left: 100%;
    top: 0;
    padding: 1rem;
    width: 21rem;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    background-color: var(--color-principal);
    box-shadow: 2px 0 2px -1px var(--color-shadow);
}

/*Hacemos que se muestre cuando pasemos por un elemento que tenga un dropdown*/
.sublist__item:hover .sublist__dropdown{
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-in-out;
}

/*Le damos estilos a los items*/
.dropdown__item{
    border-bottom: 1px solid var(--color-hover-sublist-item);
}

.dropdown__item:last-child{
    border: none;
}

.dropdown__item:hover{
    background-color: var(--color-hover-sublist-item);
}

/*Le damos estilos a los textos (en este caso enlaces)*/
.dropdown__link{
    color: var(--color-bgNavbar);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

/*********************************************************************************************/
/*ESTILOS CARRUSELES SUBMENUS*/
/*********************************************************************************************/

.carousel__menu{
    display: flex;
    flex-direction: row;
}

/*Elementos del carrusel*/
.carousel__item{
    flex-basis: 25%; /*Mas flexible que width si lo queremos hacer crecer o reducir*/
    position: relative;
}

.carousel__menu--small .carousel__item{
    flex-basis: 25%;
}

/*Contenedor de las imagenes*/
.carousel__container-image{
    position: relative;
    width: calc(100% + 3.5rem);
    height: 35rem;
    overflow: hidden;
}

.carousel__image{
    width: auto;
    height: 100%;
}

/*Contenedor con el titulo y la nota*/
.carousel__detail{
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
}

/*Titulo del articulo*/
.carousel__link{
    color: var(--color-principal);
    font-size: 1.8rem;
    text-shadow: 1px 1px 3px black;
    transition: all 300ms ease;
}
.carousel__title:hover .carousel__link{
    background-color: var(--color-secondary);
}

/*Notas dentro de las imagenes que lo tengan (rating)*/
/*Contenedor circular de la nota*/

.carousel__container-rating{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4.8rem;
    height: 4.8rem;
}



/*********************************************************************************************/
/* ESTILOS DE LA MARQUESINA*/
/*********************************************************************************************/

.layout__marquee{
    grid-area: marquee;

    width: 100%;
    height: 3.5rem;
    min-height: 3.5rem;
    padding: 0.5rem;
    margin-bottom: var(--separacion-secciones); /*la separamos del contenido de abajo*/
    overflow: hidden; /*Para que cuando se vayan saliendo los elementos se vayan escondiendo*/
    background-color: var(--color-bgMarquee);

    /*Alineamos los elementos del menu en fila. El no te lo pierdas y los demas*/
    display: flex;
    flex-direction: row;
    align-items: center;

}

/*No te lo pierdas*/
.marquee_header{
    position: relative;
    z-index: 5;
    
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--color-principal);
    background-color: var(--color-secondary);
    padding: 0.5rem;
    margin-right: 1rem;
}

/*Estilos de la lista de la marquesina*/

.marquee__container{
    display: flex;
    overflow: hidden;
}

.marquee_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem; /*Nos permite separar elementos en flex*/
}

.marquee__item:first-child{
    margin-left: 10rem; /*Separamos al primer elemento de la cabecera */
}

.marquee__title{
    font-size: 1.4rem;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
}

.marquee__link{
    color: var(--color-textMarquee);
}

/*Como es decorativo le metemos un simbolo a los elementos de la lista con ::before*/
.marquee__link::before{
    content: "+ ";
    color: var(--color-secondary);
}

.marquee__link:hover{
    color: var(--color-secondary);
}


/*********************************************************************************************/
/* ESTILOS SLIDER */
/*********************************************************************************************/

.layout__slider{
    grid-area: slider;

    width: 100%;
    margin-bottom: var(--separacion-secciones);

    display: grid;
    grid-template-areas:"slider1 slider3 slider3 slider4"
                        "slider2 slider3 slider3 slider5";
    row-gap: 0.3rem;
    column-gap: 0.3rem;
}

/*Distribuimos el grid*/
.slider__container--slider1{
    grid-area: slider1;
}
.slider__container--slider2{
    grid-area: slider2;
}
.slider__container--slider3{
    grid-area: slider3;
}
.slider__container--slider4{
    grid-area: slider4;
}
.slider__container--slider5{
    grid-area: slider5;
}

.slider__container{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.slider__img{
    width: 100%;
    transition: all 300ms ease-in-out;
}

/*Efecto de zoom cuando pasamos por encima el raton*/
.slider__container:hover .slider__img{
    transform: scale(1.1);
}


/*Estilos a la informacion del slider*/
.slider__info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: var(--color-principal);
}

/*Categoria*/
.slider__category{
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 1px 1px 3px var(--color-bgNavbar) ;
}

/*Linea separadora*/
.slider__line{
    width: 5rem;
    height: 0.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    background-color: var(--color-secondary);
}

/*Texto*/
.slider__link-title{
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px var(--color-bgNavbar);
    color: var(--color-principal);
    text-transform: uppercase;
}

/*Nota en slider*/
.slider__rating{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 4rem;
    height: 4rem;
}


/*********************************************************************************************/
/*ESTILOS MEJORES MOMENTOS (highlights)*/
/*********************************************************************************************/

.layout__highlights{
    grid-area: high;
    margin-bottom: var(--separacion-secciones);
}

/*Contenedor de posts*/
.highlights__posts,
.posts__container{
    width: 100;

    display: flex;
    flex-direction: row;
    gap: 3rem;
}

/*contenedor individual de cada post*/
.highlights__post,
.posts__post{
    flex-basis: 33%;
    height: 100%;
    border-bottom: 1px solid var(--color-bgMarquee);
}

/*Contenedor de la imagen del post*/
.highlights__image,
.post__container-image{
    position: relative;
    overflow: hidden;
}

/*Imagen del post en si*/
.highlights__img,
.post__img{
    transition: all 300ms ease;
}

.highlights__img:hover,
.post__img:hover{
    transform: scale(1.1);
}


/*Etiquetas de los post*/
.highlights__category,
.game__container-category,
.post__container-category{
    position: absolute;
    left: 0;
    bottom: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: var(--color-secondary);
    transition: all 300ms;
}

.highlights__category:hover,
.game__container-category:hover,
.post__container-category:hover{
    background-color: var(--color-bgNavbar);
}

/*Texto de las etiquetas*/
.highlights__name-category,
.game__category,
.post__category{
    display: block;
    
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-principal);
}


/*Titulos de los post*/
.highlights__title,
.post__title{
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 1rem;    
}

.highlights__link,
.post__link{
    color: var(--color-titles);
    transition: all 300ms;
}

.highlights__title:hover .highlights__link,
.post__title:hover .post__link{
    color: var(--color-secondary);
}

/*Informacion meta de los post (autor y fecha)*/
/*Contenedor*/
.highlights__meta,
.post__meta{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 1rem 0;
}

/*Autor*/
.highlights__author,
.main-video__author,
.video__author,
.main-post__container-author,
.news__author,
.post__author,
.recent__author{
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-secondary);
}

/*Fecha*/
.highlights__date,
.main-video__date,
.video__date,
.main-post__date,
.news__date,
.post__date{
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-bgNavbar);
}


/*Descripcion del post*/

.highlights__description,
.post__description{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-titles);

    margin-bottom: 1rem;
}


/*footer de los posts (views y comments. Aprovechamos para reutilizarlos para el video principal*/

.highlights__footer-post, 
.footer-post__container,
.footer-info__container,
.post__footer-post,
.recent__meta-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;    
}

.footer-post__container,
.footer-info__container,
.post__footer-post,
.recent__meta-info{
    gap: 1rem;
}

.footer-post__views, 
.footer-post__comments,
.main-video__views,
.main-video__comments,
.main-post__views,
.main-post__comments,
.recent__views,
.recent__comments
{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-textMarquee);
}

.footer-post__views .fa-solid,
.footer-post__comments .fa-solid,
.main-video__views .fa-solid,
.main-video__comments .fa-solid,
.main-post__views .fa-solid,
.main-post__comments .fa-solid,
.recent__views .fa-solid,
.recent__comments, .fa-solid
{
    margin-right: 0.2rem;
    font-size: 1.2rem;
}

/*El enlace (a) al ser un elemento block, hay que forzar a que se 
comporte como linea para que se posicione al lado*/
.footer-post__comments a{
    display: inline;
}


/*Botón Leer más*/

.footer-post__read-more,
.main-post__read-more,
.post__read-more{
    border: 1px solid var(--color-textMarquee);
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-textMarquee);
    padding: 0.4rem;
    margin-bottom: 2rem;
}


.footer-post__read-more:hover,
.main-post__read-more:hover,
.post__read-more:hover{
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
}

/*********************************************************************************************/
/*ESTILOS VIDEOS*/
/*********************************************************************************************/

.layout__videos{
    grid-area: videos;
    width: 100;
}

/*contenedor de la seccion*/
.videos__container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

/*Video Principal*/
.videos__main-video{
    flex-basis: 65%;
    padding-bottom: 3rem;
}

.main-video__yt-video{
    width: 100%;
    height: 40rem;
    margin-bottom: 2rem;
}

.main-video__yt-video iframe{
    width: 100%;
    height: 100%;
}

.main-video__title{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}


/*Informacion video principal*/

.main-video__info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-bgMarquee);
}

.main-video__info-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.main-video__info-container a{
    display: inline;
}


/*Lista de videos*/

.videos__list{
    flex-basis: 35%;
}

.videos__video{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-bgMarquee);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

/*Imagen de cada elemento de la lista*/
.video__image{
    overflow: hidden;
}

.video__img{
    transition: all 300ms;
}

.video__img:hover{
    transform: scale(1.1);
}

/*Informacion de cada elemento de la lista*/
.video__detail{
    flex-basis: 75%;
}

.video__title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.video__link{
    color: var(--color-titles);
    transition: all 300ms ease;
}

.video__title:hover .video__link{
    color: var(--color-secondary);
}

.video__info{
    display: flex;
    gap: 1rem;
}

/*********************************************************************************************/
/*ESTILOS CARRUSEL (carousel)*/
/*********************************************************************************************/

.layout__carousel-games{
    grid-area: carousel;
    width: 100%;
    padding: 3rem;
    margin-bottom: 6rem;
    background-color: var(--color-bgNavbar);
}

/*Lista de elementos*/
.carousel-games__list{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.carousel-games__item{
    position: relative;
    overflow: hidden;
}

.carousel-games__img{
    width: 100%;
}

/*Nota dentro del carrusel*/
.carousel-games__rating{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 4rem;
    height: 4rem;
}

.carousel-games__info{
    position: absolute;
    top: 40%;
    text-align: center;
    padding: 0 1rem;
    transition: all 300ms;
}

/*Categoria en el carrusel*/
.carousel-games__category{
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-principal);
    text-shadow: 1px 1px 3px var(--color-titles);
    transition: all 300ms ease;
}

.carousel-games__category:hover{
    color: var(--color-secondary);
}

/*Linea separadora*/
.carousel-games__line{
    height: 0.2rem;
    width: 4rem;
    margin: 0.4rem auto;
    background-color: var(--color-secondary);
}


/*Texto en el articulo del carrusel*/
.carousel-games__title {
    font-size: 1.8rem;
    text-shadow: 1px 1px 3px var(--color-titles);    
}

.carousel-games__link{
    color: var(--color-principal);
    transition: all 300ms ease;
}

.carousel-games__title:hover .carousel-games__link{
    color: var(--color-secondary);
}


/*********************************************************************************************/
/*ESTILOS CONTENIDO PRINCIPAL (main)*/
/*********************************************************************************************/

.layout__main{
    grid-area: main;
    margin-right: var(--separacion-secciones);
}


/*Estilo para seccion de noticias*/

.main__news{
    width: 100%;    
}

.news__main-post{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-bgMarquee);
}

/*Contenedor de la imagen del post*/
.main-post__image{
    position: relative;
    overflow: hidden;
    flex-basis: 50%;
    height: 20rem;
}

/*Imagen del post*/
.main-post__img{
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}

.main-post__img:hover{
    transform: scale(1.1);
}

/*Etiqueta de categoria en post de noticias*/
/*Contenedor*/
.main-post__container-category{
    position: absolute;
    left: 0;
    bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    transition: all 300ms ease-in-out;
}

.main-post__container-category:hover{
    background-color: var(--color-bgNavbar);
}

/*Texto de la etiqueta*/
.main-post__category{
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-principal);
}


/*Contenedor de la informacion del post*/
.main-post__info{
    flex-basis: 50%;
}

/*Titulo del post*/
.main-post__title{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.main-post__link-title{
    color: var(--color-titles);
    transition: all 300ms ease-in-out;
}

.main-post__title:hover .main-post__link-title{
    color: var(--color-secondary);
}

/*Informacion meta (autor fecha)*/
.main-post__meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/*Texto de la descripcion del post*/
.main-post__description{
    font-size: 1.3rem;
    color: var(--color-titles);
    margin-bottom: 1rem;
}

/*Footer del post (comentarios y views -- Boton leer mas)*/
.main-post__footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*Lista de noticias*/
.news__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 6rem;
}



/*En combinacion con flex-wrap del elemento padre que reacomoda los elementos hijos para que no se junten demasiado,
y dandoles tamaño un ancho podemos conseguir que la lista nos quede como queremos.
Es cuestion de ir tocando para ajustarlo y tener en cuenta los espaciados entre elementos y en
los propios elementos*/

/*Elementos de la lista*/
.news__post{
    display: flex;
    flex-basis: calc(50% - 2rem);
    gap: 1rem;
}


/*Imagenes de los post*/
/*contenedor*/
.news__image{
    overflow: hidden;
    width: 7.5rem;
    height: 7.5rem;
}

/*Imagen*/
.news__img{
    width: 100%;
    height: 100%;
    transition: all 300ms;
}

.news__image:hover .news__img{
    transform: scale(1.1);
}

/*Contenedor de la informacion de los post*/
.news__detail{
    width: 75%;
}

/*Titulos de los post*/
.news__title-post{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.news__link-title{
    color: var(--color-titles);
    transition: all 300ms ease-in-out;
}

.news__link-title:hover{
    color: var(--color-secondary);
}

/*Autor y fecha de los post*/
.news__data{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
}


/*ESTILOS DE SECCION JUEGOS*/

/*Contenedor seccion*/
.main__games{
    width: 100%;
    margin-bottom: var(--separacion-secciones);
}

/*Contenedor de la lista*/
.games__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

/*Contenedor de cada elemento*/
.games__game{
    position: relative;
    flex-basis: calc(50% - 1.5rem);
}

/*Contenedor de la imagen de cada elemento*/
.game__container-image{
    width: 100%;
    overflow: hidden;
}

/*Imagen de cada elemento*/
.game__img{
    width: 100%;
    transition: all 300ms;
}

.game__img:hover{
    transform: scale(1.1);
}

/*Posicionado de nota*/
.game__rating{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 4rem;
    height: 4rem;
    z-index: 9;
}

.game__details{
    width: 100%;
    min-height: 6rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    padding-right: 6rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.game__title{
    font-size: 2rem;
    text-transform: uppercase;
}

.game__link-title{
    color: var(--color-principal);
    transition: all 300ms ease;
}

.game__title:hover .game__link-title{
    text-shadow:0 0 5px var(--color-titles);
}


/*********************************************************************************************/
/* ESTILOS ULTIMOS ARTICULOS */
/*********************************************************************************************/

.main__posts{
    width: 100%;
    margin-bottom: var(--separacion-secciones);
}


/*Cabeceras*/
.posts__list-header,
.recent__list-header{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.list-header--small{
    font-size: 1.1rem;
    padding: 0.5rem;
    white-space: nowrap;
    font-weight: 400;
    color: var(--color-principal);
    text-transform: uppercase;
}


/*Ultimos articulos*/
/*Reutilizamos prácticamente todos los estilos generales y de highlights. Ver esa seccion*/

.posts__container{
    flex-wrap: wrap;
}

.posts__post{
    flex-basis: calc(50% - 2rem);
}


/*********************************************************************************************/
/*ESTILOS BOTON LEER MAS (antes del footer)*/
/*********************************************************************************************/

.posts__read-more{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.4rem;
    text-align: center;
    border: 1px solid var(--color-bgNavbar);
    transition: all 300ms ease-in-out;
}

.posts__read-more:hover{
    background-color: var(--color-secondary);
    color: var(--color-principal);
    border-color: var(--color-secondary);
}

/*********************************************************************************************/
/*ESTILOS MENU LATERAL (aside)*/
/*********************************************************************************************/

.layout__aside{
    grid-area: aside;
    background-color: var(--color-bgAside);
    padding: 1.5rem;
    height: fit-content;
}

/*********************************************************************************************/
/*Seccion de Inicio de sesion*/
/*********************************************************************************************/

.login__container{
    width: 100%;;
}

/*Formulario de inicio de sesion*/
.login__form{
    width: 100%;
}


/*Contenedores de los input + label*/
.form__container-username,
.form__container-password,
.form__container-remember
{
    width: 100%;
    margin: 1rem 0;
}

/*Inputs del formulario*/
.form__input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0.5rem;
}

/*Modificaciones para el contenedor de remember e hijos*/
.form__container-remember .form__input,
.form__container-remember .form__label{
    width: auto;
    display: inline;
}

/*Etiquetas de Usuario, contraseña y recuerdame*/
.form__label{
    font-size: 1.6rem;
    font-weight: 600;
}


/*Boton de iniciar sesion*/
.form__submit{
    width: 100%;
    height: 3.7rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 0.3rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
    background-color: var(--color-secondary);
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    color: var(--color-principal);
}

/* Enlaces de registro o Recordar contraseña */

.login__register,
.login__lost-pass{
    display: block;
    font-weight: 500;
    color: var(--color-secondary);
}

/*********************************************************************************************/
/*SECCION DE REDES SOCIALES (aside)*/
/*********************************************************************************************/

/*Contenedor de seccion*/
.aside__social{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*Lista de elementos*/
.social__list{
    width: 100%;
}

/*Contenedor de cada elemento*/
.social__item{
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    background-color: var(--color-twitter);
    color: var(--color-principal);
    
    transition: all 300ms ease;
}

.social__item:hover{
    padding-left: 3rem;
}

/*contenedor de icono + texto*/
.social__link{
    display: flex;
    flex-direction: row;
    color: var(--color-principal);
}

/*contenedor del icono de la Red social*/
.social__icon{
    margin-right: 1rem;
    margin-top: 0.3rem;
    flex-basis: 20%;
}

/*Icono*/
.social__icon .fa-brands{
    font-size: 3.5rem;
}

/*Numero de seguidores*/
.social__number{
    font-size: 1.8rem;
    line-height: 1;
}

/*Palabra seguidores o suscriptores*/
.social__word{
    line-height: 1;
    font-size: 1.3rem;
    opacity: 0.75;
}

/*Cambiamos el color a cada elemento como queramos segun la Red*/
.social__item--blue{
    background-color:var(--color-twitter)
}

.social__item--dark-blue{
    background-color: var(--color-facebook);
}

.social__item--red{
    background-color: var(--color-youtube);
}

.social__item--pink{
    background-color: var(--color-instagram);
}


.social__item--yellow{
    background-color: var(--color-linkedin);
}


/*********************************************************************************************/
/*SECCION DE ULTIMOS TWEETS (aside)*/
/*********************************************************************************************/

/*Contenedor de la seccion*/
.aside__tweets{
    margin-bottom: var(--separacion-secciones);
    padding: 1.2rem;
    background-color: var(--color-twitter);

    font-size: 1.3rem;
    color: var(--color-principal);
}

/*Encabezado*/
.tweets__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/*Icono del encabezado*/
.tweets__header .fa-brands{
    margin-right: 1rem;
}

/*Texto del encabezado*/
.tweets__title{
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
}

/*Contenido del tweet*/
.tweets__content{
    margin-bottom: 2rem;
    hyphens: auto; /*Corta el texto con guiones en caso de tener que recortar el contenido del texto*/
}


/*********************************************************************************************/
/*ESTILOS POST RECIENTES (aside) */
/*********************************************************************************************/
.aside__recent{
    margin-bottom: var(--separacion-secciones);    
}

/*Cabecera de la seccion*/
/*Se comparten muchos estilos con posts__list-header pero hay que hacer ajustes*/
.aside__recent .list-header__title{
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
}

/*Elementos no resaltados*/
.aside__recent .list-header--small{
    background:none;
    font-size: 1.1rem;
    padding: 0.5rem;
}

/*Pequeño ajuste para que los elementos queden mejor centrados*/
.recent__subheader{
    height: 3.65rem;
}


/*Contenedor de la lista de posts recientes*/
.recent__list-posts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*Contenedor del post individual*/
.recent__item{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*Contenedor de la imagen*/
.recent__container-image{
    width: 7rem;
    height: 7rem;
    overflow: hidden;
}

/*Imagen del post*/
.recent__img{
    width: 100%;
    transition: all 300ms ease;
}

.recent__img:hover{
    transform: scale(1.1);
}

/*Contenedor de la informacion*/
.recent__detail{
    width: 100%;
}

/*Titulo del post reciente*/
.recent__title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.recent__link-title{
    color: var(--color-titles);
    transition: all 300ms ease;
}

.recent__link-title:hover{
    color: var(--color-secondary);
}

/*Contenedor de la info meta (autor, views, comments*/
.recent__container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Los elementos autor, views y comments los reutilizamos
 añadiendo la clase a los estilos comunes al principio del CSS*/


/*********************************************************************************************/
 /*ESTILOS DE ULTIMOS ANALISIS*/
 /*********************************************************************************************/

 .aside__last-reviews{
    width: 100%;
    margin-bottom: var(--separacion-secciones);
 }

 /*Encabezado*/
.last-reviews__list-header{
    display: flex;
    gap: 0.5rem;
}

/*Corregimos los estilos compartidos de los subheader*/
.aside__last-reviews .last-reviews__subheader{
    padding: 0.17rem 0.5rem;
}

/*Añadimos el modificador al inactivo*/
.aside__last-reviews .last-reviews__link-title--small{
    background:none;
    font-size: 1.1rem;
    padding: 0.5rem;
}

/*Lista de elementos*/
/*Contenedor de la lista*/
.last-reviews__list-reviews{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*Contenedor del elemento*/
.last-reviews__item{
    width: 100%;
}

/*Contenedor de titulo y nota*/
.list-reviews__container-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Contenedor del texto del titulo*/
.list-reviews__title{
    font-size: 1.5rem;
    text-align: left;
    text-transform: capitalize;
}

.list-reviews__title-link{
    color: var(--color-titles);
    transition: all 300ms ease-in-out;
}

.list-reviews__title-link:hover{
    color: var(--color-secondary);
}

/*Nota*/
.list-reviews__mark{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-titles);
}


/*Barras de progreso*/
/*Contenedor de la barra*/
.list-reviews__progressbar{
    width: 100%;
    height: 1rem;
    background-color: var(--color-bgNavbar);
    margin-top: 0.2rem;
    border-radius: 0.3rem;
}

/*Barra de progreso*/
.list-reviews__bar{
    height: 100%;
    border-radius: 0.3rem;
    background-color: var(--color-secondary);
}

/*En funcion a la nota se establece un porcentaje para el width*/
.list-reviews__bar--bar1{
    width: 75%;
}
.list-reviews__bar--bar2{
    width: 65%;
}
.list-reviews__bar--bar3{
    width: 81%;
}
.list-reviews__bar--bar4{
    width: 55%;
}
.list-reviews__bar--bar5{
    width: 90%;
}


/*********************************************************************************************/
/*ESTILOS DEL FOOTER*/
/*********************************************************************************************/

footer{
    background-color: var(--color-footer);
    color: var(--color-principal);
}

/*Contenedor del footer*/
.footer__container{
    width: 55%;
    min-width: 100rem;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

/*Estructura o reparticion de los 3 contenedores del footer*/
.footer__left-container{
    flex-basis: 33%;
}

.footer__center-container{
    flex-basis: 33%;
}

.footer__right-container{
    flex-basis: 33%;
}

/*Titulos del footer*/
.about__title,
.tags__title,
.footer__title{
    margin-bottom: 2rem;
    color: var(--color-secondary);
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}


/*********************************************************************************************/
/*ESTILOS DE ABOUT (Left container)*/
/*********************************************************************************************/

.footer__about{
    width: 100%;
    margin-bottom: var(--separacion-secciones);
}

.about__description{
    font-size: 1.3rem;
    color: var(--color-principal);   
}


/*********************************************************************************************/
/*ESTILOS ETIQUETAS FOOTER (Left container)*/
/*********************************************************************************************/
/*Contenedor de etiquetas*/
.tags__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

/*Elemento etiqueta*/
.tags__tag{
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    color: var(--color-principal);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 0.3rem;
    transition: all 300ms ease;
}

.tags__tag:hover{
    background-color: transparent;
}


/*********************************************************************************************/
/*ESTILOS POST POPULARES (Center container)*/
/*********************************************************************************************/

/*Contenedor de la lista*/
.footer__list-popular{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*Contenedor de cada elemento de la lista*/
.list-popular__item{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*Contenedor de la imagen*/
.list-popular__container-image{
    width: 7rem;
    height: 7rem;
    overflow: hidden;
}

/*Imagen*/
.list-popular__img{
    width: 100%;
    transition: all 300ms ease;
}

.list-popular__img:hover{
    transform: scale(1.1);
}

/*Contenedor el resto del post*/
.list-popular__detail{
    flex-basis: 75%;
}

/*Titulo del post*/
.list-popular__title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/*Contenedor de autor views y comments*/
.list-popular__container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Autor*/
.list-popular__author{
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-secondary);
}

/*Contenedor de views y comments*/
.list-popular__meta-info{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/*Estilos de views y comments*/
.list-popular__views,
.list-popular__comments{
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-textMarquee);
    margin-right: 1.2rem;
}


/*********************************************************************************************/
/*ESTILOS DE ÚLTIMO POST (Right container)*/
/*********************************************************************************************/

/*Contenedor del post*/
.footer__slider{
    position: relative;
    width: 33rem;
    height: 22rem;
    overflow: hidden;
}

/*Imagen del post*/
.f-slider__img{
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}

.f-slider__img:hover{
    transform: scale(1.1);
}

/*Contenedor de la informacion*/
.f-slider__info{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: var(--color-principal);
}

/*Categoría del post*/
.f-slider__category{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0.5rem 0;
    text-transform: uppercase;
}

/*Linea separadora*/
.f-slider__separator{
    display: block;
    width: 5rem;
    height: 0.2rem;
    margin: 0.5rem auto;
    background-color: var(--color-secondary);
}

/*Titulo del post*/
.f-slider__link{
    font-size: 1.6rem;
    line-height: 1.4rem;
    margin-top: 1rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px var(--color-titles);
}


/*********************************************************************************************/
/*FOOTER FINAL (footer abajo)*/ 
/*********************************************************************************************/

.footer__description{
    width: 100%;
    padding: 2rem;
    background-color: var(--color-footer-down);
    color: var(--color-principal);
}

/*Contenedor del texto*/
.footer__text{
    width: 50%;
    margin: 0 auto;
    font-size: 1.1rem;
    white-space: nowrap;
}